.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
}

.gallery-nav--left {
    left: 10px;
}

.gallery-nav--right {
    right: 10px;
}

.gallery-nav--right img {
    transform: rotateY(180deg);
}

.product-page__gallery {
    position: relative;
    text-align: center;
    max-height: 512px;
}

.product-page__thumb.active-thumb {
    border-color: #000;
}

.product-page {
    display: flex;
    padding-top: 140px;
    justify-content: center;
    gap: 20px;
}

.product-page__gallery {
    display: flex;
    flex-direction: row;
}

.product-page__thumbs {
    max-height: 512px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-page__thumb {
    width: 80px;
    cursor: pointer;
}

.product-page__details {
    display: flex;
    gap: 40px;
}

.product-page__main-img {
    max-width: 512px;
    max-height: 512px;
    display: block;
}

.product-page__attribute {
    margin: 15px 0;
}

.product-page__attribute-options {
    display: flex;
    gap: 8px;
    margin-top: 5px;
}

.product-page__option {
    cursor: pointer;
    font-family: "SourceSans3", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid black;
    background: white;
    padding: 10px;
}

.product-page__info {
    max-width: 292px;
}

.product-page__option--swatch {
    padding: 20px;
}

.product-page__option--selected {
    border: 2px solid #000;
    color: white;
    background: black;
}

.product-page__add-btn {
    width: 292px;
    height: 52px;
    background: #5ece7b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.product-page__add-btn:disabled {
    background: gray;
    cursor: not-allowed;
}

.product-brand {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.product-page__description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}

.product-name {
    font-weight: 600;
    font-size: 30px;
    margin: 0;
}

.attribute-name{
    font-family: RobotoCondensed, sans-serif;
}
