@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../public/fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SourceSans3';
  src: url('../public/fonts/SourceSans3-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoCondensed';
  src: url('../public/fonts/RobotoCondensed-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Raleway', sans-serif;
}

a {
  font-weight: 500;
  color: #5e5e5e;
  text-decoration: inherit;
}
a:hover {
  color: #5e5e5e;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #5e5e5e;
}